@charset "UFT-8";
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
--cor1: #23AD2A;
--cor2: #317A35;
--cor3: #00E00B;
--cor4: #2B472C;
--cor5: #293329;

--fontedestaque: "raleway";
--fontesans: "open sans";
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* RESPONSIVO: MENU EMBAIXO DA LOGO EM TELAS PEQUENAS */
@media (max-width: 768px) {
    .container {
        flex-direction: row;
        align-items: center;
    }

    .menu {
        justify-content: center;
        width: 100%;
        margin-top: 10px;
    }

    .menu a {
        display: block;
        padding: 10px;
        text-align: center;
    }
}

.container {
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around; /* distribui logo e menu */
    flex-wrap: wrap;
    padding: 5px 20px;
}

.linha {
    background-color: var(--cor1);
    height: 5px;
}

header {
    background-color: white;
    width: 100%;
}

.logo {
    width: 120px;
    height: auto;
}

.menu {
    width: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.menu a {
    padding: 10px 6px;
    font-family: var(--fontesans);
    font-weight: 600;
    color: gray;
    text-decoration: none;
}

#imagem-apresentaçao {
    background: url(Planta.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    text-align: center;
    padding-top: 150px;
    padding-bottom: 150px;
}

#imagem-apresentaçao h1 {
    font-family: var(--fontedestaque);
    color: white;
    font-size: 50px;
    padding-top: 10px;
}

#imagem-apresentaçao p {
    color: var(--cor1);
    font-size: 25px;
    padding-bottom: 15px;
}

.sobre-nos {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 60px 20px;
    max-width: 1100px;
    margin: 0 auto;
    gap: 40px;
    font-family: var(--fontesans);
}

.sobre-nos h1 {
    font-family: var(--fontedestaque);
    font-size: 28px;
    color: var(--cor5);
    margin-bottom: 20px;
}

.sobre-nos p {
    font-size: 16px;
    color: #444;
    line-height: 1.6;
    margin-bottom: 20px;
}

.sobre-nos .Foto img {
    width: 100%;
    border-radius: 6px;
    max-width: 600px;
    height: auto;
}

.sobre-nos .Foto {
    flex: 1 1 400px;
}

.sobre-nos .texto {
    flex: 1 1 400px;
}
